# 絶対にGitに追加したくないファイルやフォルダ
dist/
node_modules/
.env
discord-bot-476315-308cfda1862a.json
internal-docs/
# deploy.ps1
# スラッシュコマンドをDiscordに登録するスクリプト
deploy-commands.js
# 全てのMarkdownファイルを無視
# *.md
!README.md